<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.RoleMenuMapper">
    
    <select id="getMenuIdListByBoleId" parameterType="Integer" resultType="Integer">
        SELECT
            a.menu_id
        FROM
            u_role_menu a,u_menu b
        WHERE a.menu_id = b.menu_id
          AND b.is_leaf = 'Y'
          AND a.role_id = #{roleId}
    </select>

</mapper>
